<script>
    $(document).ready(function() {
        var game = new Game("<%= @player1.initials %>", "<%= @player2.initials %>");
        game.countdown();
        game.start_game();
    });
</script>

<div id="counter">
</div>
<table class="racer_table">
  <tr id="<%= @player1.initials %>_strip" class="player1_strip" data-player="<%= @player1.id %>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="<%= @player2.initials %>_strip" class="player2_strip" data-player="<%= @player2.id %>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<div id="winner">
</div>
  <p id="restart"><button class="restart">Restart</button></p>
</body>
</html>
