<script>
    $(document).ready(function() {
        var game = new Game("<%= @player1.initials %>", "<%= @player2.initials %>");
        game.countdown();
        

    $('button.restart').click(function(e) {
        $('td').removeClass('active');
        $('td:first-child').addClass('active');
        $('#winner').empty().removeClass();
        $(this).hide();

        game = new Game("<%= @player1.initials %>", "<%= @player2.initials %>");
        game.countdown();
        });
    });
</script>

<div id="counter">
</div>
<table class="racer_table">
    <% [@player1, @player2].each_with_index do |player, index| %>
      <tr id="<%= player.initials %>_strip" class="player<%= index + 1 %>_strip">
        <td class="active"></td>
        <% 24.times do %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
</table>

<div id="winner">
</div>
  <p id="restart"><button class="restart">Restart</button></p>
</body>
</html>
